footer {
  font-size: 85%; }

body {
  font-family: 'Crimson Pro', serif;
  
  background-image: url(https://lh3.googleusercontent.com/-aZuTLY3j1vTgvNYJr0XUHSbuzDC1ijCE_eZd7aZSE4zmgi8FzTuve_aEKEQJBZJXAf2BtOSoA1icX9qQ94_I0UcPe8VBwGnyO_sEDLS958YjQqlp0aK32i-J-Omcq4TfuEvLgno6-yM1nF9UfQrkIuhxeIpVPd2_seogkISCQUcyz7GpUW5uLhYHTZJzBVovMm-GXcOZ6Nkl9_gtfBuLjrGHMWoSPTRY1jk3vmaVLWPGLQIj2H39q2ngZC2zYxGOeXy5QKMf7PDu4by7XVIjSSvAJCxuXnXpZdLxtpZyWKgxxzZ9uqEaO_0tAoKIrXR3dvnSNvARE6T3qqj4H3_4-V_uktWcFWSwjAeV4rtaramzzkO_0hRHGqCeQPXNDnjffve4yw96ff9DlDp-7dLig30aIifKXNJhQrPTxf2r6Ml_gxRDQVfxvqjpBU4xhKa122R-xItzQ1PlzChnzDK8-m3vjS4H0ntp_dLVVk04DlupuAIiyQvwwmNp0ZEfsrQnBW9gsUCtlyuz4LebjGY5O7lX0Yy6MbIEtYK6fa1ifXJCzHLgGKIqGjLP8Y5d7q9LrExte7zEOiwTTIDTkoNZeKe5IxxlBrEYVspH8xDChAafdSMBtjN0zq1lRTAhKPcgjVFTtEfEJgcX93NmTnBeKN0uu9mG-Emlu2lHnJEZpLtvSQ7x-auARp61NEmbx_AvgjlVTiqldlB7fBNU_NQm3dp=w450-h600-no?authuser=0);
  background-repeat: no-repeat;
  
  background-attachment: unset;
  color: rgb(8, 8, 8);
}

header {
  font-size: larger;
  color: black;
}

.articulo1 {
  margin: 500px 20px 20px 20px;
}

.articulo2 {
  margin: 20px 20px 20px 20px;
}

.articulo3 {
  margin: 20px 20px 20px 20px;
}

footer {
  background-color: #EBEBEB;
  
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  body {
    font-family: 'Crimson Pro', serif;
    
    background-image: url(https://i.pinimg.com/originals/0f/e4/4d/0fe44d0841d04e70f773885bc55f82c1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: unset;
    background-position: 0px -200px;
    color: rgb(8, 8, 8);
  }

  .articulos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto ;
    margin: 500px 20px 20px 20px;
    justify-content: space-around;
  }

  .articulo1 {
    margin: 0px 20px 20px 20px;
  }

  .redes {
    display: flex;
    justify-content: space-evenly
  }
}

